# Chosen Problem

#### The target variable I want to predict is the sales price of real estate in Brooklyn. This can be a home, office, or mixed-use. I believe predicting the target variable could help real estate developers, sellers, and buyers all make more informed decisions, which could lead to a more efficient market. The features I want to use to predict the target variable are linear regression and correlation maps.  My goal is to be able to predict the sales price with great accuracy. I am not sure what is considered "great accuracy." I will say 85% for now. One limitation I see is the time component. How do I factor that in when evaluating my model?

# The Dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
brooklyn = pd.read_csv("brooklyn_sales_map.csv")

In [3]:
brooklyn.head(3)

,Unnamed: 0,borough,neighborhood,building_class_category,tax_class,block,lot,building_class,address,zip_code,...,XCoord,YCoord,ZoneMap,ZMCode,Sanborn,TaxMap,EDesigNum,Version,SHAPE_Leng,SHAPE_Area
0,1,3,DOWNTOWN-METROTECH,28 COMMERCIAL CONDOS,4,140,1001,R5,330 JAY STREET,11201,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,3,DOWNTOWN-FULTON FERRY,29 COMMERCIAL GARAGES,4,54,1,G7,85 JAY STREET,11201,...,988208.0,195011.0,12d,NaN,302 016,30101.0,NaN,17V1.1,1560.0,140132.0
2,3,3,BROOKLYN HEIGHTS,21 OFFICE BUILDINGS,4,204,1,O6,29 COLUMBIA HEIGHTS,11201,...,985952.0,195007.0,12d,NaN,302 004,30106.0,NaN,17V1.1,891.0,34656.0

# Evaluation of the Dataset

#### The dataset does indeed have the target variable I want, denoted by sale_price. I also believe the dataset has features that can predict the variable like residential_units, commercial_units, land_sqft, gross_sqft, and others.

## How many rows and columns does it have?

In [4]:
brooklyn.shape

(390881, 82)

## How many values are missing in each column?

In [5]:
brooklyn.loc[:, 'residential_units'].isna().sum()

0

In [6]:
brooklyn.loc[:, 'sale_price'].isna().sum()

0

In [7]:
brooklyn.loc[:, 'commercial_units'].isna().sum()

0

In [8]:
brooklyn.loc[:, 'land_sqft'].isna().sum()

0

In [9]:
brooklyn.loc[:, 'gross_sqft'].isna().sum()

0